<h2><%= t('all_purchases') %></h2>
<div class="row">
  <div class="col s12">
  <% if current_user %>
    <%= link_to(t('purchase.new'), new_purchase_path, class: "waves-effect waves-light btn") %>
  <% end %>
  </div>
</div>

<div class="row">
  <% @purchases.each do |purchase|  %>
  <div class="col s12 m3">
    <%= render :partial => "purchase_card", locals: { purchase: purchase } %>
  </div>
  <% end %>
</div>


