<div class="about-descr">
  <p>
    В нашей жизни появилось немало приятных новшеств, среди которых далеко не последнее место занимает
    возможность совершать покупки, не выходя из дома.<br>
    А в последнее время появилась тенденция делать это коллективно.
    Что такое совместные покупки (СП) и на самом ли деле они помогают экономить?
  </p>
  <h2>Суть СП</h2>
  <p>
    В нескольких словах суть совместной покупки сводится к объединению людей посредством сети интернет
    для совершения покупки по оптовой цене.
    Механизм совместной покупки минимизирует количество посредников между производителем товара
    и покупателем, за счет чего уменьшается цена. Из цены товара исключаются арендная плата за
    торговые площади, наценки магазинов и зарплата их многочисленного персонала.
  </p>
  <h2>Этапы проведения СП</h2>

<ul>
  <li>Сбор заказов. Участники выбирают товары и оформлялют заказы.</li>
  <li>СТОП. Организатор обрабатывает принятые заказы, считает итоговую сумму. Составляется общая заявка и отправляется поставщику.</li>
  <li>Оплата. Организатор определяет конкретные сроки, в которые участники СП должны оплатить свой заказ.</li>
  <li>Отгрузка товара. Время, за которое поставщик комплектует заказ и отправляет его организатору. Сроки зависят как от поставщика, так и от транспортной компании.</li>
  <li>Разбор товара. Время, за которое организатор разбирает полученный товар, комплектует посылки.</li>
  <li>Раздача. Время, когда организатор отправляет посылки, организует встречи для передачи товара участникам СП.</li>
</ul>

</div>
