<h3><%= t "active_purchases" %></h3>

<div class="row">
  <% @purchases.each do |purchase|  %>
  <div class="col s12 m3">
    <%= render :partial => "purchases/purchase_card", locals: { purchase: purchase } %>
  </div>
  <% end %>
</div>