@import "materialize";

.transparent {
  background-color: transparent;
}

//Navbar

nav {
  box-shadow: none;
  ul {
    a {
      font-size: 16px;
      color: #26a69a;
    }
  }
}

.profile-image {
    height: 50px !important;
    vertical-align: middle;
    border: 3px solid #80cbc4;
}    