// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.transparent {
  background-color: transparent;
}

nav {
  box-shadow: none;
  ul {
    a {
      color: #039be5;
    }
  }
}