@import "materialize";
@import "wice_grid";
@import "font-awesome-sprockets";
@import "font-awesome";

.transparent {
  background-color: transparent;
}

//Navbar

nav {
  box-shadow: none;
  ul {
    a {
      font-size: 16px;
      color: #26a69a;
    }
  }
}

.profile-image {
    height: 50px !important;
    vertical-align: middle;
    border: 3px solid #80cbc4;
}

// Autocomplete

.ui-widget-content {
  margin-top: -1rem;
  @extend .z-depth-1;

  li {
    color: #26a69a;
    font-size: 1.2rem;
    padding: 1rem;
      &:hover {
        background: #eee;
        cursor: pointer;
      }
    }
 }

ui-widget-content {
  @extend .select-dropdown;
}

.ui-state-focus {
  @extend li:hover;
}

.ui-helper-hidden-accessible {
  display: none;
}

.pagination a li.active {
  color: #fff;
}
.comments-header {
  border-bottom: 1px dotted gray;
  margin-bottom: 10px;
  color:#26a69a;
  font-weight:300
}

.comments-container {
  p {
    margin-bottom: 0px;
  }
  .comment-nav {
    margin-left: 5px;
    margin-bottom: 10px;

    a {
      font-size: 10px;
      font-weight: bold;
      color: #888;
    }
  }
}

.reply-form {
  display: none;
}

.comments-show {
  margin-left: 25px;
}
.header{
  color:#26a69a;
  font-weight:300
}
